<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/log"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Photos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clickFileSelector()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input #fileSelector (change)="onFileChange($event)" accept="image/*" style="display: none;"
         type="file">
</ion-content>
