<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/log"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Edit Log
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteLog()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #logForm="ngForm" (ngSubmit)="logForm.valid && save(logForm)"
        [ngFormOptions]="{updateOn: 'submit'}" novalidate>

    <ion-grid *ngIf="selectedLog">

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-label position="stacked">Time</ion-label>
            <ion-input #time="ngModel" [ngModel]="createdString" name="time" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text *ngIf="logForm.submitted && time.invalid" color="danger">
            <p *ngIf="time.errors.required" class="error ion-padding-start">
              Time is required
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-label position="stacked">Latitude</ion-label>
            <ion-input type="number" #lat="ngModel" [ngModel]="selectedLog.lat" name="lat" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text *ngIf="logForm.submitted && lat.invalid" color="danger">
            <p *ngIf="lat.errors.required" class="error ion-padding-start">
              Latitude is required
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-label position="stacked">Longitude</ion-label>
            <ion-input type="number" #lng="ngModel" [ngModel]="selectedLog.lng" name="lng" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text *ngIf="logForm.submitted && lng.invalid" color="danger">
            <p *ngIf="lng.errors.required" class="error ion-padding-start">
              Longitude is required
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-label position="stacked">Location</ion-label>
            <ion-input #location="ngModel" [ngModel]="selectedLog.location" name="location" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-text *ngIf="logForm.submitted && location.invalid" color="danger">
            <p *ngIf="location.errors.required" class="error ion-padding-start">
              Location is required
            </p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-item>
            <ion-label position="stacked">Report</ion-label>
            <ion-textarea rows="6" [ngModel]="selectedLog.report" name="report"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-margin-top" offsetLg="4" offsetSm="3" sizeLg="4" sizeSm="6">
          <ion-button expand="block" type="submit">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>
